.piano {
  display: flex;
}

.key {
  width: 40px;
  height: 160px;
  margin: 2px;
  background-color: white;
  border: 1px solid black;
}

.black-key {
  width: 25px;
  height: 100px;
  margin: 0 -12.5px;
  background-color: black;
  position: relative;
  z-index: 1;
}
